[Unit]
Description=Restic backup to %f
After=network-online.target

[Timer]
Persistent=true
OnCalendar=daily
RandomizedDelaySec=60m

[Install]
WantedBy=timers.target
